@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Montserrat", sans-serif !important;
}
.MuiTab-wrapper {
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.Mui-selected {
  color: #6200ea !important;
}
.Mui-selected .fa,
.Mui-selected .fab {
  color: rgb(247, 74, 74);
}
.PrivateTabIndicator-root-1 {
  background-color: #6200ea !important;
}
/* Header */
.header {
  padding: 0.5rem 2rem;
  display: flex;
  border-bottom: 1px solid #e2e7fa;
}
.header .logo {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header .menu-btn {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.header .menu-btn .fa {
  color: #57595f;
  height: min-content;
}
/* CHOICES AREA */
.choices {
  padding: 1rem;
  border-right: 1px solid #e2e7fa;
}
.choices ul {
  list-style: none;
  padding-left: 0%;
  text-align: center;
}
.choices li {
  padding: 0.5rem 0rem;
  color: #57595f;
  font-weight: 500;
  margin: 0.5rem;
}
.choices .active {
  background: #6200ea;
  border-radius: 6px;
  color: #e2e7fa;
}
/* SEARCH AREA */
.search-area {
  padding: 2rem 1rem;
}
.search-area .search-bar input {
  border: none;
  border-radius: 6px;
  background: #e2e7fa;
  font-weight: 500;
  color: #57595f;
  width: 100%;
  padding: 0.5rem;
}
.search-bar input::placeholder {
  color: #fff;
  font-weight: 500;
}
.search-bar input:focus {
  outline: none;
}
.search-area .search-btn {
  margin: 1rem 0rem;
}
.search-area .search-btn a {
  background: #6200ea;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  display: block;
  color: #e2e7fa !important;
  padding: 0.5rem 0rem;
}
.search-bar p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7e8bb6;
}
/* TABS */
.questions .MuiTab-root {
  min-width: 0% !important;
}
.questions .PrivateTabIndicator-root-1 {
  display: none;
}
.questions .title {
  display: flex;
}
.questions .MuiTab-root .fa,
.questions .MuiTab-root .fab {
  font-size: 1.5rem;
}
.display-area {
  min-height: 200px;
  padding: 1rem;
}
.keywords ul,
.questions ul {
  list-style: none;
  padding-left: 0%;
  /* display: inline-block; */
}
.keywords .keyword-item,
.keywords .similar-item {
  background: #e2e7fa;
  border-radius: 6px;
  font-size: 0.8rem;
  color: #000;
  margin: 0.3rem 0.3rem 0rem 0rem;
  padding: 0.2rem;
  display: inline-block;
}
.questions .question-item:hover {
  border: 1px solid #6200ea;
}
.questions .question-item:hover .fa-external-link-square-alt {
  display: block;
}
.questions .question-item {
  display: block;
  border: 1px solid #e2e7fa;
  /* background: #e2e7fa; */
  color: #000;
  border-radius: 6px;
  position: relative;
  font-size: 1rem;
  margin: 0.3rem 0.3rem 0rem 0rem;
  padding: 0.5rem;
}
.questions .question-item a {
  color: #000;
  /* font-weight: 500; */
  text-decoration: none;
}
.questions .title {
  border-bottom: 2px solid #6200ea;
}
.questions .title h3,
.title h3 {
  font-size: 18px;
  margin: 0px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: #6200ea;
  text-transform: uppercase;
  font-weight: 700;
}
.question-item .fa-external-link-square-alt {
  position: absolute;
  top: 2px;
  color: #57595f;
  display: none;
  right: 2px;
}
